/*#board{*/
     /*background-color: #a9a9a9;*/
     /*border: 2px solid greenyellow;*/
     /*display: block;*/
     /*margin: 0 auto;*/
 /*}*/
#menuDiv{
    width: 100px;
    position: fixed;
    border: 1px solid #1e90ff;
    background-color: #6495ed;
    padding: 0;
    display: none;
}
#menu{
    padding: 10px 10px;
}
#menu li{
    list-style: none;
    width: 80px;
}
#menu li:hover{
    cursor: pointer;
    background-color: #1e90ff;
}
canvas{
    background-color: aquamarine;
    width:600px;
    height: 600px;
    border: 2px dashed red;
    display: block;
    margin: 0 auto;
}
#canvas_1{
    display: none;
}
#canvas_2{
    background-color: crimson;
}

#info_panel{
    width: 240px;
    border: 2px dashed #F7FF00;
    float: right;
    margin-right: 50px;
}